<div class="home">
  <div class="home-contents">
    <div class="home-inner-contents">
      <button routerLink="flight">FLIGHT BOOKING</button>
    </div>
    <div class="home-inner-contents">
      <button routerLink="bus">BUS BOOKING</button>
    </div>
    <div class="home-inner-contents">
      <button routerLink="car">CAR BOOKING</button>
    </div>
    <div class="home-inner-contents">
      <button routerLink="hotel">HOTEL BOOKING</button>
    </div>
  </div>
  <div class="home-contents">
    <router-outlet></router-outlet>
  </div>
  <div class="home-contents">
    <div class="home-inner-contents">
      <h1>Where?</h1>
      <h2>You Can Reach Us For Any Travel Location</h2>
    </div>
    <div class="home-inner-contents">
      <h1>when?</h1>
      <h2>You Can Reach Us For Plan Your Trip</h2>
    </div>
    <div class="home-inner-contents">
      <h1>Transport?</h1>
      <h2>You Can Reach Us For Flight/Bus/Car/Hotel For Our Country</h2>
    </div>
  </div>
</div>
